<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'settings.title' | transloco }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="main-content">
  <div class="container">
    <ion-list class="ion-padding">
      <ion-item class="container-item">
        <ion-icon
          slot="start"
          icon="moon-outline"
          class="component-icon component-icon-dark"
        ></ion-icon>
        <ion-toggle
          [(ngModel)]="isDarkMode"
          (ionChange)="toggleDarkMode($event)"
        >
          {{ 'app.darkMode' | transloco }}
        </ion-toggle>
      </ion-item>

      <ion-item class="container-item">
        <ion-icon
          slot="start"
          icon="language-outline"
          class="component-icon component-icon-dark"
        ></ion-icon>
        <ion-select
          interface="popover"
          justify="space-between"
          [(ngModel)]="selectedLanguage"
          (ionChange)="changeLanguage($event)"
          label="{{ 'language.title' | transloco }}"
        >
          <ion-select-option value="en">
            {{ 'language.english' | transloco }}
          </ion-select-option>
          <ion-select-option value="pt">
            {{ 'language.portuguese' | transloco }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
