<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'settings.title' | transloco }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="main-content">
  <div class="container">
    <ion-list>
      <ion-item>
        <ion-icon
          slot="start"
          icon="moon-outline"
          class="component-icon component-icon-dark"
        ></ion-icon>
        <ion-toggle
          [(ngModel)]="isDarkMode"
          (ionChange)="toggleDarkMode($event)"
        >
          Dark Mode
        </ion-toggle>
      </ion-item>

      <ion-item button (click)="openThemeModal()">
        <ion-label>{{ 'settings.theme' | transloco }}</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
