<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'classes.title' | transloco }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="main-content">
  <ion-list *ngIf="classes$ | async as classes" class="classes-list">
    <ion-item *ngFor="let class of classes" class="class-item" lines="none">
      <ion-card class="class-card">
        <ion-card-header>
          <ion-card-title>{{ class.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-chip slot="end" color="{{ class.color }}">
            {{ class.category }}
          </ion-chip>
          <ion-chip slot="end" color="{{ class.color }}">
            {{ class.teachers.length }} {{ 'teachers.title' | transloco }}
          </ion-chip>
        </ion-card-content>
        <ion-grid>
          <ion-row class="ion-justify-content-between">
            <ion-col size="6">
              <ion-button
                color="primary"
                expand="block"
                size="medium"
                shape="round"
                fill="clear"
                (click)="viewTeachers(class)"
              >
                <ion-icon slot="start" name="person-outline"></ion-icon>
                {{ 'teachers.title' | transloco }}
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button
                color="secondary"
                expand="block"
                size="medium"
                shape="round"
                fill="clear"
              >
                <ion-icon slot="start" name="people-outline"></ion-icon>
                {{ 'students.title' | transloco }}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
