<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item class="language-item" lines="none">
    <ion-select
      interface="popover"
      (ionChange)="changeLang($event.detail.value)"
      [okText]="'SELECT.okText' | transloco"
      [cancelText]="'SELECT.cancelText' | transloco"
      [(ngModel)]="selectedLang"
    >
      <ion-select-option value="en">
        &nbsp;{{ 'language.english' | transloco }}
      </ion-select-option>
      <ion-select-option value="pt">
        &nbsp;{{ 'language.portuguese' | transloco }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <!-- Login Page -->
  <div class="container" *ngIf="screen == 'signin'">
    <h1 class="heading">👋 {{ 'login.welcome' | transloco }}<br /><br /></h1>
    <p class="para">{{ 'login.description' | transloco }}</p>
    <form [formGroup]="formData">
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>{{ 'login.email' | transloco }}</legend>
          <ion-input
            formControlName="email"
            type="email"
            placeholder="name@domain.com"
          ></ion-input>
        </fieldset>
      </ion-item>
      <!-- error field -->
      <div
        *ngIf="formData.get('email')?.invalid && formData.get('email')?.touched"
        class="error-text ion-item"
      >
        {{ 'login.emailError' | transloco }}
      </div>

      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>{{ 'login.password' | transloco }}</legend>
          <ion-input
            formControlName="password"
            type="password"
            placeholder="*******"
          ></ion-input>
        </fieldset>
      </ion-item>
      <!-- error field -->
      <div
        *ngIf="formData.get('password')?.invalid && formData.get('password')?.touched"
        class="error-text ion-item"
      >
        {{ 'login.passwordError' | transloco }}
      </div>

      <!-- error field -->
      <div *ngIf="invalidCredentials" class="error-text ion-item">
        {{ 'login.loginError' | transloco }}
      </div>

      <p class="forget-text">
        <a (click)="change('forget')"
          >{{ 'login.forgotPassword' | transloco }}?</a
        >
      </p>
      <ion-button class="login-button" (click)="login()" expand="block">
        {{ 'login.loginButton' | transloco}}
      </ion-button>
      <ion-button
        class="google-button"
        expand="block"
        color="light"
        (click)="change('signup')"
      >
        <ion-icon name="logo-google"></ion-icon>
        {{'login.register' | transloco}}
      </ion-button>
    </form>
  </div>

  <!-- Sign up page -->
  <div class="container" *ngIf="screen == 'signup'">
    <h1 class="heading">🚀 {{ 'register.title' | transloco}}<br /><br /></h1>
    <p class="para">{{ 'register.description' | transloco}}</p>
    <form [formGroup]="formData">
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>{{ 'register.fullName' | transloco}}</legend>
          <ion-input
            formControlName="name"
            type="text"
            placeholder="John Doe"
          ></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>{{ 'register.email' | transloco}}</legend>
          <ion-input
            formControlName="email"
            type="email"
            placeholder="john@doe.com"
          ></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>{{ 'register.password' | transloco}}</legend>
          <ion-input
            formControlName="password"
            type="password"
            placeholder="*******"
          ></ion-input>
        </fieldset>
      </ion-item>
      <p class="signup-text">
        {{ 'register.signin-a' | transloco}}&nbsp;<a (click)="change('signin')"
          >{{ 'register.signin-b' | transloco}}</a
        >
      </p>
      <ion-button class="login-button" (click)="register()" expand="block"
        >{{ 'register.title' | transloco}}</ion-button
      >
    </form>
  </div>

  <!-- Forget password page -->
  <div class="container" *ngIf="screen == 'forget'">
    <h1 class="heading">
      {{ 'forgotPassword.title' | transloco}}?<br /><br />
    </h1>
    <p class="para">{{ 'forgotPassword.description' | transloco}}</p>
    <ion-item lines="none" class="ion-item">
      <fieldset class="input-item">
        <legend>{{ 'forgotPassword.email' | transloco}}</legend>
        <ion-input type="email" placeholder="name@domain.com"></ion-input>
      </fieldset>
    </ion-item>
    <p class="signup-text">
      {{ 'forgotPassword.remember' | transloco}}&nbsp;<a
        (click)="change('signin')"
      >
        {{ 'forgotPassword.signin' | transloco}}</a
      >
    </p>
    <ion-button class="login-button" expand="block"
      >{{ 'forgotPassword.sendButton' | transloco}}</ion-button
    >
  </div>
</ion-content>
<ion-footer color="white">
  <ion-toolbar>
    <p class="copyright">
      {{ 'copyRight.craftedBy' | transloco}}&nbsp;<a
        >{{ 'copyRight.author' | transloco}}</a
      >
    </p>
  </ion-toolbar>
</ion-footer>
