
ion-card-title {
 font-size: 1rem;
}

ion-card {
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease-in-out;
  background-color: var(--ion-card-background, #f9f9f9);
  color: var(--ion-text-color);
  border: 1px solid black; // padrão
}

ion-button {
  float: right;
  font-weight: 600;
  letter-spacing: 0.5px;
}